body {
background-image: url(./images/asset2.png);
background-size: cover;
color: #43464b;
}

.baloon-image-bacground{
  background-image: url(./images/asset1-cropped.jpg);
  background-size: cover;
  color: white;
}

a{
  text-decoration: underline;
  color: white;
}

input{
  height: 30px;
  z-index:1;
}

.in-front{
z-index:2;
position: relative;
}

input{
  height: 35px;
  width: 90%;
  font-size: 0.9em
}

.below{
  z-index:1;
}

* {
    box-sizing: border-box;
} 

.small-space-vertical-margin{
margin-top:15px;
margin-bottom:15px;
}
.transparent-label{
  opacity: 0.0;
  float:left;
  transform: translate(25px,18px);
  font-size: .8em;
}

.title-label{
  float: left;
  transform: translate(18px,18px);
}

.hovering-label{
  float:left;
  color: grey;
  background-color:white;
  transform: translate(25px,18px);
  font-size: .8em;
}
.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
